<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCOXq5yMubhuLvTMS3s9u0TmM1rTYzx_8c</string>
	<key>GCM_SENDER_ID</key>
	<string>931635906837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scissorsProject3</string>
	<key>PROJECT_ID</key>
	<string>scissors-51aed</string>
	<key>STORAGE_BUCKET</key>
	<string>scissors-51aed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931635906837:ios:b9fa938cfc09367832411c</string>
</dict>
</plist>